*{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
}

body{
    /* background-color: rgb(243, 243, 42); */
}

html{
    font-size: 62.5%;
    overflow-x: hidden ;
    /* scroll-behavior: smooth; */
    scroll-padding-top: 6.5rem;
}
.header{
    padding: 2rem;
    border-bottom: 1px groove gray;
    position: sticky;
    top: 0;
    box-shadow: 0.5rem 0.5rem 1rem 0 #888888;
    background-color: white;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
}
.header .row .logo{
    /* flex-flow: 2 2 170px; */
    font-size: 2rem;
    color: rgb(48, 46, 46);
    /* border: 1px solid green; */
    
}
.header .row .logo span{
    color: rgb(41, 175, 199);
}
.header .nav{
    
    flex-basis: 600px;
    flex-shrink: 3;
    display: flex;
    justify-content: space-around;
    /* border: 1px solid red; */
}
.header .nav a{
    /* display: flex; */
    margin: 0.1rem;
    font-size: 1.7rem;
    color: rgb(43, 43, 43);
    /* border: 1px solid tomato; */
    
}
.header .nav a:hover{
    color: rgb(41, 175, 199);
}

.link-btn{

    background-color: rgb(41, 175, 199);
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 0.6rem;
    display: inline-block;
    text-align: justify ;
    flex-shrink: 1;
}
.link-btn:hover{
    background-color: rgb(75, 75, 75);
}
#menu-btn{
    font-size: 2.5rem;
    color: rgb(48, 46, 46);
    cursor: pointer;
    display: none;
}

/* main section */


.home{
    /* background-color: rgb(143, 233, 255); */
    background-image: url('/images/frontImage.jpg');
    background-repeat:  no-repeat;
    background-size: cover;
    background-position: center;
}

#home .row{
    /* display: flex; */
    /* border: 2px solid tomato; */
    min-height: 100vh;
    align-items: center;
    
}

.home .content{
    /* border: 2px solid red; */
    width: 55rem;
    
    

}
.home .row .content h3{
    font-size: 4rem;
    text-transform: uppercase;
    color: rgb(48, 46, 46);
}
.home .row .content p{
    font-size: 1.5rem;
    line-height: 2;
    color: rgb(48, 46, 46);
    padding: 1rem 0;    

}

section{
    padding: 7rem 2rem;
    /* border: 2px solid gray; */
}

/* about section */
.about .row{
    /* border: 2px solid green; */
    min-height: 80vh;
    /* display: flex; */
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: center;
}
.about .row .image{
    /* border: 2px solid red; */
    max-width: 50vw;



}
.about .row .content{
    /* border: 2px solid red; */
    margin: 0px 15px;
    padding: 0px 5px;
    max-width: 50vw;
}
.about .row .content span{
    font-size: 2rem;
    color: blue;
}
.about .row .content h3{
    font-size: 3rem;
    color: gray;
    margin-top: 1rem;
}
.about .row .content p{
    padding: 1rem 0;
    font-size: 1.5rem;
    color: gray;
    line-height: 2;
}


/* Services section */

.heading{
    text-align: center;
    font-size: 4rem;
    color: gray;
    text-transform: uppercase;
    margin-bottom: 3rem;

}
.services{
    background-color: #ebebeb;
}
.services .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap: 2rem;
}
.services .box-container img{
    width: 40px;

}
.services .box-container .box{
    text-align: center;
    padding: 2rem;
    background-color: white;
    /* box-shadow: ; */
    border-radius: .5rem;
}
.services .box-container .box img{
    height: 4rem;
    margin: 1rem 0;
}
.services .box-container .box h3{
    font-size: 2rem;
    padding: 1rem 0;
    color: black;

}
.services .box-container .box p{
    font-size: 1.5rem;
    color: rgb(87, 87, 87);
    line-height: 2;
}
/* Contact Section */


.contact .heading{
    /* border: 2px solid green; */
    text-align: center;
    font-size: 3rem;
    color: rgb(66, 66, 66);
    padding-bottom: 5rem;

}
.contact form{
    border-radius: .5rem;
    background-color: aliceblue;
    padding: 2rem;
    margin: 0 auto;
    max-width: 50rem;
}
.contact form .box{
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 2rem;
    border-radius: .5rem;
    background-color: white;
    padding: 1.2rem 1.4rem;
    font-size: 1.7rem;
    color: gray;
}
.contact form .link-btn{
    border: 2px solid yellowgreen;

}
.contact form span{
    font-size: 1.7rem;
    color: gray;
} 
.contact form input{
    text-transform: lowercase;
}






























@media (max-width: 895px) {


    .header .link-btn{
        display: none;
    }
    .about .row .image{
        /* border: 2px solid red; */
        max-width: 45vw;
    
    
    }
    .about .row .content{
        /* border: 2px solid red; */
        margin: 0px 15px;
        padding: 0px 5px;
        max-width: 40vw;
    }

}



@media (max-width: 630px) {

    html{
        font-size: 50%;
    }
    .header .row .logo{
        /* flex-flow: 2 2 170px; */
        flex-basis: 110px;
        color: rgb(48, 46, 46);
        /* border: 1px solid green; */
        
    }
    section{
        padding: 5rem 2rem;
    }
    .about .row{
        flex-wrap: wrap;
    }
    .about .row .image{
        /* border: 2px solid red; */
        max-width: 70vw;
    
    
    
    }
    .about .row .content{
        /* border: 2px solid red; */
        margin: 0px 15px;
        padding: 0px 5px;
        max-width: 70vw;
    }

}


@media (max-width: 550px){
    .header{
        /* background-color: rgb(134, 134, 255); */
    }
    #menu-btn{
        display: inline-block;
        transition: .2s linear;
        
    }
    #menu-btn.fa-times{
        transform: rotate(180deg);
    }
    .header .nav{
        /* border: 1px solid blue; */
        position: absolute;
        top: 8.5%;
        left: 0;
        right: 0;
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
        padding: 1rem 0;
        text-align: center;
        flex-flow: column;
        clip-path: polygon(0 0,100% 0,100% 0,0 0);
        transition: .2s linear;

    }
    .header .nav.active{
        clip-path: polygon(0 0,100% 0, 100% 100%, 0 100%);
    }
    .header .nav a{
        margin: 1rem 0;
        font-size: 2rem;
    }
    section{
        padding: 5rem 2rem;
    }
    .home{
        background-position:left;
    }
    .home .content{
        width: auto;
    }
    .home .content h3{
        font-size: 3rem;
    }

}